<p id="notice"><%= notice %></p>


<p>
  <strong>Id passenger trip:</strong>
  <%= @trip.id_passenger_trip %>
</p>

<p>
  <strong>Id guide passenger:</strong>
  <%= @trip.id_guide_passenger %>
</p>

<p>
  <strong>Id trip type:</strong>
  <%= @trip.id_trip_type %>
</p>

<p>
  <strong>Nombre de viaje:</strong>
  <%= @trip.trip_name %>
</p>

<p>
  <strong>Trip date:</strong>
  <%= @trip.trip_date %>
</p>

<%= link_to 'Editar', edit_trip_path(@trip) %> |
<%= link_to 'Atras', trips_path %>
<script type="text/javascript">
  var menuFlag = 4;
</script>