<div class="container">


  <div class="col-md-2"></div>
  <div class="col-md-8">
    <div class="row">
      <h2>Registrar</h2><br>
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <div class="col-md-6">
        
        <%= devise_error_messages! %>

        <div class="field">
          <%= f.label :correo %><br />
          <%= f.email_field :email, autofocus: true %>
        </div>

        <div class="field">
          <%= f.label :contraseña %>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> caracteres mínimo)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "off" %>
        </div>

        <div class="field">
          <%= f.label :confirmación_de_contraseña %><br />
          <%= f.password_field :password_confirmation, autocomplete: "off" %>
        </div>
        <div class="field">
          <%= f.label :nombre %><br />
          <%= f.text_field :nombre, autocomplete: "off" %>
        </div>
        <div class="field">
          <%= f.label :patente_vehículo %><br />
          <%= f.text_field :patente_vehiculo, autocomplete: "off" %>
        </div>
      </div>
      <div class="col-md-6">
        <div class="field">
          <%= f.label :rut %><br />
          <%= f.text_field :rut, autocomplete: "off" %>
        </div>
        <div class="field">
          <%= f.label :fono %><br />
          <%= f.text_field :fono, autocomplete: "off" %>
        </div>
        <div class="field">
          <%= f.label :tipo_de_vehículo %><br />
          <%= f.text_field :tipo_vehiculo, autocomplete: "off" %>
        </div>
        <div class="field">
          <%= f.label :teléfono_emergencia %><br />
          <%= f.text_field :telefono_emergencia, autocomplete: "off" %>
        </div>
        <div class="field">
          <%= f.label :nombre_contacto_emergencia %><br />
          <%= f.text_field :nombre_contacto_emergencia, autocomplete: "off" %>
        </div>        
        <br>
        <div class="actions" style="margin-bottom: 10px;">          
        </div>  
        </div>
        <%= f.submit "Registrar", :class => 'btn btn-primary'%>
      <% end %>        
      <%= render "devise/shared/links" %>         
      
    </div>
  </div>
  <div class="col-md-2"></div>
</div>