<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @passenger.nombre %>
</p>

<p>
  <strong>Telefono:</strong>
  <%= @passenger.telefono %>
</p>

<p>
  <strong>Email:</strong>
  <%= @passenger.email %>
</p>

<p>
  <strong>Cantidad:</strong>
  <%= @passenger.cantidad %>
</p>

<p>
  <strong>Hostal:</strong>
  <%= @passenger.hostal %>
</p>

<p>
  <strong>Documento:</strong>
  <%= @passenger.documento %>
</p>

<p>
  <strong>Idioma:</strong>
  <%= @passenger.idioma %>
</p>

<p>
  <strong>Booking:</strong>
  <%= @passenger.booking %>
</p>

<p>
  <strong>Estado disponibilidad:</strong>
  <%= @passenger.estado_disponibilidad %>
</p>

<%= link_to 'Editar', edit_passenger_path(@passenger) %> |
<%= link_to 'Atrás', passengers_path, class: "btn-btn-default" %>
